name: TypeScript Compilation

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']


jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: [16.x]

      - name: Install Dependencies
        run: yarn install

      - name: TypeScript Compilation
        run: yarn tsc-all-libs